body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Dosis', sans-serif;
  font-family: 'Nunito', sans-serif;
}

.header {
  color: white;
  background-color: #4d81b7;
  /*height: 40px;*/
  padding: 10px;
}

.header h1 {
  margin: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.empty-list {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
  border: solid 1px #ccc;
  border-radius: 4px;
  width: 500px;
  height: 200px;
}
